/* Главная */
body {
    font-family: Roboto,sans-serif; 
    color:#212121;
    font-style: normal;
background: #FFFFFF;
}


/*Шапка*/
    /* WebStudio */
.logo {
    color: #2196F3;
   font-family:Releway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}
   span {
       color:#212121;
font-family:Releway ;
}
   
/*Навигация сайта*/
   ul {
       list-style-type: none;}
.site-nav a {
text-decoration: none;
}
   .contact a {
       text-decoration: none;
   }
    .site-nav .link {
       color: #212121;
font-size: 14px; ;
    line-height:1.2 ;
    font-weight:500;
}
.site-nav .link:hover,
   .site-nav .link:active {
       color: #2196F3;
   }
 /*Контакты*/
 .contact .link:hover,
.contact .link:active {
    color: #2196F3;
}
 
 
 .contact .link {
    color: #212121;
    font-size: 14px;
        line-height: 1.2;
        font-weight: 500;
}



/* Герой*/
/* Эффективные решения для вашего бизнеса */
.hero {
height: 600px;
width: 1600px;
left: 0px;
top: 80px;
border-radius: 0px;
background-color:  #2F303A;
}
.hero-title {
    font-style: normal;
font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
  color: #FFFFFF;
    }
/*заказать услугу*/

.button-order {
    color: #FFFFFF;
    font-weight: 700;
         font-size: 16px;
        line-height: 1.2;
    background-color: #2196F6;
    cursor: pointer
    }
.button-order:hover,
.button-order:active {
    color: #0762ac;
}

    /*Особенности*/
.requirements.h3 {
color: #212121;
    font-weight: bold;
    font-size: 14px;
        line-height: 1.1;
    }
.text {
font-size: 14px;
line-height: 1.7;
color: #757575;
}

/* Чем мы занимаемся */
.employment .h2 {
   font-weight: 700;
font-size: 36px;
line-height: 1.2;
color: #212121;
}
.details.h3 {
font-weight: 500;
    font-size: 16;
    line-height: 1.2;
    color: #212121;
}
.position {
font-size: 16;
    line-height: 1.2;
    color: #757575;
}
footer {
    height: 252px;
        width: 1600px;
        left: 0px;
        top: 2097px;
        border-radius: 0px;
        background-color: #2F303A; ;
}
footer>a>span {
    color: #FFFFFF;
    font-family: Releway;
}
.street {
    font-style: normal;
    font-size: 14;
        line-height: 1.2;
        color: #FFFFFF;
}
.contacts .link {
font-style: normal;
    font-size: 14;
    line-height: 1.7;
    color: #FFFFFF99;
}
.contacts a {
    text-decoration: none;
}
/* страница Портфолио*/
/* Style the buttons */
.btn-active {
    border: none;
    outline: none;
    width: 73px;
        height: 38px;
    background-color: #2196F6;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
        line-height: 1.6;
        font-weight: 500;
        }
.btn {
    width: 128px;
    height: 38px;
    color: #212121;
    background-color: #F5F4FA;
    font-size: 16px;
    line-height:1.6;
    font-weight: 500;
   cursor: pointer;
}
.gallery h2 {
    font-size: 18px;
        line-height: 2;
        font-weight: 700;
       color: #212121;
}
.gallery p {
font-size: 16px;
    line-height: 1.9;
    font-weight: 400;
    color: #757575;
}