/* Главная */
body {background: #FFFFFF;}
 /*Шапка*/
    /* WebStudio */
.logo {
    color: black;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
}
   /*Навигация сайта*/
   
.site-nav .link {
       color: #212121;
   }

   .site-nav .link:hover,
   .site-nav .link:active {
       color: #2196F3;
   }
 /*Контакты*/
.mail {
    color: #2196F3;
}

.phone {
    color: #212121;
}
/* Герой*/
/* Эффективные решения для вашего бизнеса */
.hero-title {width: 696px;
    height: 120px;
    left: 452px;
    top: 280px;
font-family: 'Roboto';
font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;}
.button-order {color: #FFFFFF;background:#2196F3;}  
.hero {background: #2F303A;}
/*Особенности*/
.section-title { color:#212121;}
.section-title {width: 376px;
    height: 42px;
    left: 612px;
    top: 969px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
}




